*			text=auto
*.xml		text eol=crlf working-tree-encoding=windows-1251
*.ltx		text eol=crlf working-tree-encoding=windows-1251 linguist-language=Text
*.script	text eol=crlf working-tree-encoding=windows-1251 linguist-language=LUA